.main-footer {
    background-color: var(--backgrounh-third-color);
    text-align: center;

    padding-top: 60px;
    padding-bottom: 60px;
}

.main-footer-logo {
    color: var(--primery-white-color);
    display: inline-block;
    margin-bottom: 20px;
}

@media screen and(min-width:768px) {
    .tablet-footer__container{
        display: flex;
        justify-content: space-between;
        margin-bottom: 60px;
    }
    .footer-container {
        padding-left: 76px;
        padding-right: 89px;
    }
}

@media screen and(min-width:1200px) {
    .footer-container {
        display: flex;
        padding: 0 15px;
    }
    .tablet-footer__container{  
        margin-bottom: 0;
    }
    .main-footer {
            text-align: start;
    }
}

