.footer-join-title {
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--primery-white-color);

    margin-bottom: 32px;
}


.footer-join-icon {
    fill: var(--primery-white-color);
}

.footer-join-item {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}