@media screen and (max-width:767px){
    .navigation {
        display: none;
    }
    .contact-list {
        display: none;
    }
    .mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }
    .mobile-burger-menu-btn {
        padding: 0;
        line-height: 0;
        border: none;
        background-color: transparent;
    }
}

.main-header {
    background-color: var(--primery-white-color);
}

.main-header-content{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;

    margin: auto;
}

@media screen and (min-width: 768px) {
    .main-header-content{
        padding: 0;
    }

    .mobile-burger-menu-btn{
        display: none;
    }

    .main-header-content {
        display: flex;
        justify-content: flex-start;
        border-bottom: 1px solid #ECECEC;
    }

    .main-header-logo {
        margin-right: 88px;
    }

    .navigation-list{
        display: flex;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        column-gap: 50px;
    }

    .navigation-list .active {
        color: var(--accent-color);
    }

    .navigation-list-item{
        position: relative;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .navigation-list-link{
        color: var(--primery-grey-color);
        transition: color var(--transition-dur-and-fun);
        
            &:hover,
            &:focus {
                color: var(--accent-color);
            }
    }

    .navigation-list-link.active::after{
        position: absolute;
        left: 0;
        bottom: -1px;
        content: "";
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }

    .contact-list {
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;

        margin-left: auto;
    }

    .contact-list-item {
        &:hover {
            color: var(--accent-color);
        }
    }

    .contact-list-item:first-child{
        margin-bottom: 10px;
    }
    
    .contact-list-link {
        position: relative;
        color: var(--primery-text-color);
        transition: color var(--transition-dur-and-fun);
        display: flex;
        align-items: center;
        

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .contact-list-icon{
        display: none;
    }
    
    .contact-list-icon-tablet{
        fill: var(--primery-text-color);
        margin-right: 8px;

    }

    .contact-list-link .contact-list-icon-tablet {
        transition: fill var(--transition-dur-and-fun);
    }

    .contact-list-link:hover .contact-list-icon-tablet,
    .contact-list-link:focus .contact-list-icon-tablet {
        fill: var(--accent-color)
    }

}

@media screen and (min-width:1200px) {
    .contact-list-icon-tablet {
            display: none;
        }
    .contact-list-icon {
        display: block;
        fill: var(--primery-text-color);
    }

    .main-header-logo {
            margin-right: 93px;
        }
        
    .contact-list {
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        display: flex;
        column-gap: 30px;
    }
        
    .contact-list-item{
        position: relative;
    }
        
    .contact-list-link {
        column-gap: 10px;
    }
        
    .contact-list-link .contact-list-icon {
        transition: fill var(--transition-dur-and-fun);
    }
    .contact-list-link:hover .contact-list-icon,
    .contact-list-link:focus .contact-list-icon {
        fill: var(--accent-color)
    }
}
