.hero {
    margin: auto;
    max-width: 1600px;
    text-align: center;
    background-color: var(--background-hero);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desctops/hero-1x.jpg);
    padding-top: 200px;
    padding-bottom: 200px;


}

.hero-title {
    width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    letter-spacing: 0.06em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--primery-white-color);
}

.hero-btn {
    padding: 10px 32px;

    transition: background-color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
            background-color: var(--background-button-active);
        }
}
