.hero {
    margin: auto;
    text-align: center;
    background-color: var(--background-hero);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobils/hero-m.jpg);
    padding-top: 118px;
    padding-bottom: 118px;
}

.hero-title {  
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    text-transform: uppercase;
    color: var(--primery-white-color);
}

.hero-btn {
    padding: 10px 24px;

    transition: background-color var(--transition-dur-and-fun);

    &:hover,
    &:focus {
            background-color: var(--background-button-active);
        }
}

@media screen and(min-width: 480px) {
    .hero {
        max-width: 480px;
    }
    .hero-title {
        width: 360px;
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) and (min-width:768px) {
    .hero {
        background-image: url('../images/mobils/hero@2x-m.jpg');
    }
}

@media screen and(min-width: 768px) {
    .hero{
        max-width: 768px;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablets/hero-t.jpg);
    }
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) and (min-width:768px) {
    .hero {
        background-image: url('../images/tablets/hero@2x-t.jpg');
    }
}

@media screen and(min-width: 1200px) {
    .hero {
        max-width: 1200px;
        padding-top: 200px;
        padding-bottom: 200px;

        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desctops/hero-d.jpg);
    }

    .hero-title {
        width: 696px;
        font-size: 44px;
        line-height: 1.4;
    }

    .hero-btn {
        padding: 10px 32px;
    }
}

@media  (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) and (min-width:1200px) {
    .hero {
        background-image: url('../images/desctops/hero@2x-d.jpg');
    }
}

