.work {
    padding-top: 47px;
    background-color: var(--primery-white-color);

&__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
}

&__item {
    position: relative;

    flex-basis: calc((100% - 2 * 30px) / 3);
}

&__item-title {
    position: absolute;
    bottom: 0;
    width: 100%;

    color: var(--primery-white-color);
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);

    padding: 27px 0;
}
}

