

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: var(--primery-black-color);
}

.logo .accent {
    color: var(--accent-color);
}