.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--primery-white-color);
    width: 100%;
    padding: 40px;
}

@media screen and(min-width: 480px) {
    .modal {
        width: 450px;
        }
}

@media screen and(min-width: 1200px) {
    .modal {
        width: 528px;
    }
}


// .modal {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 528px;
//     background-color: var(--primery-white-color);

//     padding: 40px;
// }

