.modal-description {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primery-grey-color);

    margin-bottom: 12px;
}