.modal-textarea-wrapper {
    display: block;
    margin-bottom: 20px;
}

.modal-textarea {
    display: block;
    padding: 12px 16px;
    width: 100%;
    height: 120px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border var(--transition-dur-and-fun);

    &:hover {
        outline: none;
        border: 1px solid var(--accent-color);

        cursor: pointer;
    }

    &:focus {
        outline: none;
        border: 1px solid var(--accent-color);

        cursor: text;
    }

    &::placeholder {
        font-size: 12px;
        line-height: 1.2;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}
