.social-icon-list {
    display: flex;
    column-gap: 10px;
}

.social-icon-link {
    @extend %display;
    
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: background-color var(--transition-dur-and-fun);

    &:hover {
        background-color: var(--accent-color);
    }
}
