:root {
    --primery-text-color: #757575;
    --accent-color: #2196F3;
    --primery-white-color: #FFFFFF;
    --primery-grey-color: #212121;
    --primery-black-color: #000000;
    --backgrounh-primery-color: #F5F5F5;
    --backgrounh-secondary-color: #F5F4FA;
    --backgrounh-third-color: #2F303A;
    --ramka-color: #EEEEEE;
    --background-button-active: #188CE8;
    --background-hero: #C4C4C4;
    --accent-grey-icon: #AFB1B8;
    --transition-dur-and-fun: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}